@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;1,600&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --bgl-cl: #faf8f4;
  --bgr-cl: #e3ebd6;
  --white-cl: #fff;
  --primary: #ff6525;
  --black-cl: #000;
  --micro-cl: #949494;
  --logo-cl: #1c1c1c;
  --info-cl: #373737;
  --shadow-cl: #505646;
  --side-cl: #e3ebd6;
  --link-cl: #212838;
  --content-size: calc(100% - 200px);
  --medium: 500;
  --poppins: 'Poppins', sans-serif;
  --mosterat: 'Montserrat', sans-serif;
}

body {
  display: flex;
}

/* Content Start */

.left,
.right {
  width: 100%;
  height: 100vh;
}

.left {
  background-color: var(--bgl-cl-cl);
  flex: 4;
}

.right {
  background-color: var(--bgr-cl);
  flex: 2.5;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

/* Content end */

/* Header start */

header {
  position: absolute;
  width: var(--content-size);
  display: flex;
  justify-content: space-between;
  top: 20px;
  left: 70px;
}

header nav {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

header ul {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  font-family: var(--poppins);
}

header ul a {
  font-size: 20px;
  font-weight: var(--medium);
  text-decoration: none;
  color: var(--link-cl);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo span {
  font-family: var(--mosterat);
  font-size: 32px;
  font-weight: bold;
  color: var(--logo-cl);
}

header button.btn-con {
  border: none;
  background: none;
  font-size: 16px;
  font-weight: var(--medium);
  margin-right: 10px;
  font-family: var(--poppins);
}

header button.btn-joi {
  padding: 10px 25px;
  font-size: 16px;
  font-weight: var(--medium);
  background-color: var(--primary);
  color: var(--white-cl);
  border: var(--primary);
  border-radius: 5px;
  font-family: var(--poppins);
}
/* Header end */

/* Left start */

.content {
  /* border: 2px solid red; */
  margin: 200px 75px 60px;
  width: calc(100% - 300px);
  height: auto;
}

.content h1 {
  font-family: var(--mosterat);
  font-size: 90px;
}

.invest {
  color: var(--primary);
  font-family: var(--poppins);
  display: flex;
  align-items: center;
  gap: 10px;
}

.line {
  width: 30px;
  height: 0;
  border: 1.5px solid var(--primary);
}

.content span,
.content p {
  font-size: 34px;
}

.content p {
  color: var(--info-cl);
  font-family: var(--poppins);
}

.content h1 span {
  color: var(--primary);
  font-size: 90px;
}

.download-platform {
  width: 100%;
  display: flex;
  padding: 0 0 0 80px;
  align-items: center;
  gap: 40px;
}

.appstore,
.googleplay {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--black-cl);
}

.appstore i,
.icogp i {
  color: var(--white-cl);
  font-size: 44px;
}

.info p {
  font-family: var(--poppins);
  color: var(--micro-cl);
}

.info h2 {
  font-family: var(--poppins);
  color: var(--white-cl);
}
/* Left end */

/* Right start */

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  gap: 50px;
}

.card2 {
  transform: translatey(-20px);
}
/* Right end */
